*{
  margine:0; paddong:0;box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

header{
  width: 100%; height:100vh;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('tem.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
    width:100% ;height:15vh;
    background:rgba(0,0,0,0.2);
    color: white;display:flex; justify-content: space-between;
    align-items: center; text-transform: uppercase;
}

nav .logo{
  width:25%;text-align: center;
}

nav .menu{
  width:40%;
  display:flex; justify-content: space-around;
}

nav .menu a{
  width:50%;
  text-decoration:none; color: white;
  font-weight: bold;
}
 nav .menu a:first-child{
   color: #00b894;
 }
main{
  width:100%;
  height:85vh;
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center;color: white;
}

section h3{
  font-size: 35px; font-weight: 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1{
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight:700;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}

section p{
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a{
  padding:12px 30px;
  border-radius:4px;
  outline:none;
  text-transform:uppercase;
  font-size:13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .5s ease;
}

section .b1{
  background:#fff;
  color: #000;
}
.b1:hover{
  background: #00b894;
  color:white;
}

section .b2{
   background: #00b894;
   color:white;
}

.b2:hover{
  background:#fff;
  color: #000;
}

.change::after{
  content:'';
  animation: changetext 10s infinite linear;
   color: #00b894;

}

@keyframes changetext{
  0%{content:"Kathmandu";}
  20%{content:"Bhaktapur";}
  40%{content:"Pokhara";}
  60%{content:"Lumbini";}
  80%{content:"Chitwan";}
  100%{content:"Janakpur";}

}

.logo{
  animation: Nepal 10s ease infinite;
}
@keyframes Nepal {
  0% {
  transform:scale(1);
}
5% {
  transform:scale(1.25);
}
20% {
  transform:scale(1);
}
30% {
  transform:scale(1);
}
35% {
  transform:scale(1.25);
}
50% {
  transform:scale(1);
}
55% {
  transform:scale(1.25);
}
70% {
  transform:scale(1);
}

}
